nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 0px 200px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.fist{
    color: var(--Dark-01, #181818);

font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.second{
   color: orangered;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
color: var(--Dark-02, #474747);
}
.primary{
    width: 150px;
height: 64px;
flex-shrink: 0;
border-radius: 5px;
background: #FD6E0A;
color: var(--White-Color, #FFF);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: none;
}
.header{
    background: #FFF8F3;
}
.banar{
    padding: 30px 30px 30px 150px;
   display: flex;
   align-items: center;
}
.primary2{
    color: #FD6E0A;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

width: 160px;
height: 64px;
flex-shrink: 0;

border-radius: 5px;
border: 1px solid #FD6E0A;
}
.tanjimphoto{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}